<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> කුසලස්ස උපසම්පදා </title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/d03f4e9f98.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body id="vueContainer">
  <div class="container-fluid wrapper">
    <div class="row">
      <div class="col">
        <h1 class="title">සියලු කෙලෙසුන්ගෙන් නිදහස්වුනු සම්මා සම්බුදුරජුන්ට නමස්කාර වෙත්වාǃ</h1>
        <img id="dhramachakra" class="rotate" src="./assets/png/dharmachakra.png" alt="" srcset="">
      </div>
    </div>
    <div class="row ">
      <div class="col-2 sm-1"></div>
      <div class="col-8  sm-10 resources">
        <h2>Downloadable resources</h2>
        <ul class="list-group list-group-numbered">
          <li v-for="item in downloadList" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{item.name}}</div>
            </div>
            <a :href="item.link"><i class="fa-solid fa-download"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-2 sm-1"></div>
    </div>
  </div>
  <footer>
    <p class="footer-tag">කුසලස්ස උපසම්පදා අනුග්‍රහ පදනම <br>
      W .M විජේපාල මහතා +94-771016568
    </p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="./main.js"></script>
</body>

</html>