body {
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 100vw !important;
    min-height: 92vh;
    background: rgb(86, 53, 12);
    background: linear-gradient(90deg, rgba(86, 53, 12, 1) 0%, rgb(145 86 33 / 86%) 38%, rgb(255 163 0 / 52%) 100%);
    text-align: center;
}

.title {
    color: white;
}

#dhramachakra {
    max-width: 200px;
}

.rotate {
    animation: rotation 25s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.resources {
    margin-bottom: 20px;
}

.resources h2 {
    margin-top: 70px !important;
    color: #c4ecdf;
}

.resources .fa-download {
    font-size: 30px;
    margin-right: 20px;
    float: right;
}

footer {
    text-align: center;
    background: rgb(86, 53, 12);
    background: linear-gradient(90deg, rgb(117 90 22) 0%, rgb(208 132 66 / 86%) 38%, rgb(146 85 5 / 73%) 100%);
    color: white;
    min-height: 65px;
}

.footer-tag {
    padding-top: 10px;
}